* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 2px;
}
*:focus {
    outline: 8px solid rgb(255, 17, 0);
    outline-offset: 2px;
  }
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5dc;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-image: url(img-menu/op-fundo2.jpg);

}


header {
    text-align: center;
    background-color: #4e4d06;
    color: white;
    padding: 10px;
    width: 100%;
}

footer {
    text-align: center;
    background-color: #4e4d06;
    color: rgb(235, 247, 247);
    padding: 10px;
    width: 100%;
    text-shadow: #9a0af3 2px 2px 5px;

}


.container-principal {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 75vh;
    margin: 20px 0;
    display: flex;
    border-radius: 10px;
}

.container-principal:focus{
    outline: 8px solid rgb(255, 17, 0);
    outline-offset: 10px;
}

.conteiner-externo {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 20vw;
    height: 100%;
    animation: paraDireita 25s linear infinite, brilho 2s infinite alternate;
    background-color: rgb(66, 107, 93);
    border-radius: 10px;
}


.conteiner-superior {
    flex: 5;
    border-radius: 10px;
}

.conteiner-superior img {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    

}
.conteiner-superior img:focus{
    outline: 8px solid rgb(255, 17, 0);
    outline-offset: 2px;
}


.conteiner-inferior {
    flex: 1;
    display: flex;
    background-color: rgba(168, 207, 61, 0.886);
    border-radius: 10px;

    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.titulo-link {
    text-decoration: none;
    color: #f7f7f9;
    font-size: 1.4em;
    
    font-family: Garamond;
}

.titulo-link:hover {
    color: #9a0af3;
}

@keyframes brilho {
    20% {
        box-shadow: 0 0 10px rgba(227, 49, 215, 0.5);
    }

    50% {
        box-shadow: 0 0 40px rgba(245, 69, 245, 0.8);
    }
}

@keyframes paraDireita {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(100vw);
    }
}





.conteiner-externo:nth-child(1) {
    animation-delay: 16.66s;
}

.conteiner-externo:nth-child(2) {
    animation-delay: 8.33s;
}

.conteiner-externo:nth-child(3) {
    animation-delay: 0s;
}

/* Tela Mobile */
@media (max-width: 600px) {
    .container-principal {
        justify-content: space-around;
        height: 50vh;
        flex-direction: row;

    }

    .conteiner-externo {

        width: 30%;
        height: 100%;
        animation: none;
        position: static;
    }

    .titulo-link {
        font-size: 1.2em;
    }
}